.meals-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 10px;
}

.meals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.favourite-meals h1 {
    color: green;
}

@media only screen and (max-width: 768px) {
    .meals {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}