.meal-container {
    width: 280px;
    height: 450px;
    border: 1px solid grey;
    border-radius: 15px;
    position: relative;
}

.meal-container img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin: 8px;
}

.meal-info {
    margin-left: 10px;
    margin-top: 10px;
}

.meal-info p {
    font-size: 20px;
}

.btn-meal {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    margin-left: 50px;
    background-color: aquamarine;
}

.btn-meal:hover {
    background-color: darkorange;
}

.cart-logo {
    margin-left: 10px;
}